﻿@model Payment_Service.Data.ChargeDbModel
@{
    ViewBag.Title = "Charge Details";
}

<h2>Charge Details</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Currency</th>
            <th>Description</th>
            <th>Provider</th>
            <th>Status</th>
            <th>CreatedOn</th>
            <th>Id</th>
            <th>ChargeId</th>
        </tr>
    </thead>
    <tbody>
      
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Amount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Currency)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ChargeId)
                </td>
               
                <td>
                    @{
                        if (Model.IsRefunded)
                        {
                            @Html.Raw("Refunded")
                        }
                        else
                        {
                            @Html.ActionLink("Refund", "Refund", new { id = Model.ChargeId , providerName= Model.ProviderName}); // string.Format("Refund/{0}/{1}", Model.ProviderName, Model.ChargeId));
                        }
                    }

                </td>



            </tr>
        
    </tbody>

</table>
