﻿@model List<Payment_Service.Data.ChargeDbModel>



<br />
<h2>Charges history</h2>

<hr/>


@{ 


    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem()
    {
        Text = "All",
        Value = "",
    });
    listItems.Add(new SelectListItem()
    {
        Text = "Stripe",
        Value = "Stripe",
    });
    listItems.Add(new SelectListItem()
    {
        Text = "AuthdotNet",
        Value = "AuthdotNet",
    });
    }
<h4>Select provider</h4>
@using (Html.BeginForm(new { sortBy = ViewBag.AmountSortParm }))
{
    @Html.DropDownList("providerName", listItems, new { onchange = "$(this).parent('form:first').submit();" })
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Amount", "Transactions", new {sortBy = "Amount", providerName=ViewBag.ProviderNameParm, orderDirection=ViewBag.OrderDirection})
            </th>
            <th>
                @Html.ActionLink("Currency", "Transactions", new { sortBy = "Currency", providerName = ViewBag.ProviderNameParm, orderDirection = ViewBag.OrderDirection })
            </th>
            <th>Description</th>
            <th>
                @Html.ActionLink("Provider", "Transactions", new { sortBy = "ProviderName", providerName = ViewBag.ProviderNameParm, orderDirection = ViewBag.OrderDirection })
            </th>
            <th>
                @Html.ActionLink("Status", "Transactions", new { sortBy = "Status", providerName = ViewBag.ProviderNameParm, orderDirection = ViewBag.OrderDirection })
            </th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>

                    @Html.ActionLink("Details", string.Format("Charge/{0}", item.Id))

                </td>



            </tr>
        }
    </tbody>

</table>
