﻿@model List<ServiceStack.Auth.UserAuth>



<br />
<h2>Users</h2>

<hr />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Id", "Users", new { sortBy = "Id", orderDirection = ViewBag.OrderDirection })
                </th>
                <th>
                    @Html.ActionLink("DisplayName", "Users", new { sortBy = "DisplayName", orderDirection = ViewBag.OrderDirection })
                </th>
                <th>
                    @Html.ActionLink("FirstName", "Users", new { sortBy = "FirstName", orderDirection = ViewBag.OrderDirection })
                </th>
                <th>
                    @Html.ActionLink("Email", "Users", new { sortBy = "Email", orderDirection = ViewBag.OrderDirection })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
       



                </tr>
            }
        </tbody>

    </table>


